/* REMOVE FORMATAÇÃO DE LINKS */
a, a:hover, a:focus, a:active {
    text-decoration: underline;
    color: inherit;
}

html, body {
    margin: 0;
    /* padding: 10px 20px; */
    height: 100%;

}
.bg {
    display: flex;
    height: 100%;
}

/* COMEÇA EDIÇÃO DA CAIXA ESQUERDA */
.caixa-esquerda {
    margin: 5%;
    flex: 60%;
    border: 1px solid #FFF;
}

.caixa-logo img{
    width: 40%;
    object-fit: cover;
    /* height: auto; */
}

.select-form {
    font-size: 12;
    font-weight: 400;
    margin-bottom: 0%;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1%;
}
.botao-op {
    margin-top: 20px;
    width: fit-content;
    display: inline-block;
    background-color: #9C83FF;
    color: #FFF;
    font-weight: 1000;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;        
}

.botao-op:hover{
    background-color: #D2D2D2;
    color: #9C83FF;
    cursor: pointer;
    
}

.rodape {
    padding: auto;
}

select, input{
    margin-bottom: 15px;
    border: 2px solid #D2D2D2;
    width: fit-content;
    border-color: #D2D2D2;
    border-radius: 30px;
    padding: 10px 30px;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    /* AQUI, CUSTOMIZA A SETINHA DO MENU TÁ LIGADO */
    appearance: none 
    
}
/* TERMINA O ESTILO DA CAIXA ESQUERDA */

/* COMEÇA O ESTILO DA CAIXA DIREITA*/

.caixa-direita {
    padding: 30px 50px;
    flex: 40%;
    background-color: #D2D2D2;
/*     height: 120%; */

}
.botao-novo {
    margin-top: 10%; 
    margin-bottom: 0;
    color: #9C83FF; 
    font-family: sans-serif; 
    font-weight: 700; 
    font-size: 15px; 
    text-transform: uppercase;
}

.episodio-novo h5{
    margin: 1%; 
    font-family: 'Roboto Mono'; 
    font-weight: 700; 
    font-size: 30px; 
    text-transform: uppercase;

}

.episodio-novo p{
    margin: 1%; 
    font-family: Roboto Mono; 
    font-weight: lighter; 
    font-size: 15px; 
    text-transform: uppercase;
}

.ultimos-episodios p{
    margin-top: 1%; 
    color: #000; 
    font-family: 'Roboto Mono'; 
    font-weight: 700; 
    font-size: 15px; 
    text-transform: uppercase;
}

.texto-rodape{
    font-family: Roboto Mono; 
    font-weight: lighter; 
    font-size: 12px; 
    margin-top: 60px
}

/* RESULTADO */

.logo-resultado{
    margin: 5%;
    flex: 60%;
}

.botao-editoria button{
    width: fit-content;
    display: inline;
    background-color: #FFF;
    color: #9C83FF;
    font-weight: 1000;
    border: 2px solid #d2d2d2;
    border-radius: 30px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.cabecalho-resultado h5{
    margin-top: 1%; 
    color: #000; 
    font-family: 'Roboto Mono'; 
    font-weight: 700; 
    font-size: 12px; 
    text-transform: uppercase;
    margin-bottom: 1px;

}

.cabecalho-resultado p{
    margin-top: 0; 
    color: #000; 
    font-family: 'Roboto Mono'; 
    font-weight: lighter; 
    font-size: 12px; 
    text-transform: uppercase;
}

.texto-resultado{
    margin-top: 0; 
    color: #000; 
    font-family: 'Roboto Mono'; 
    font-weight: 200; 
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    text-transform: uppercase;
}

.botao-resultado a {
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 2%;
    width: fit-content;
    font-size: 12px;
    height: fit-content;
    display: inline-block;
    background-color: #9C83FF;
    color: #FFF;
    font-weight: 1000;
    border: none;
    border-radius: 30px;
    padding: 15px 30px; 
    font-family: sans-serif; 
    /* TIRA UNDERLINE DO TEXTO */
    text-decoration: none; 

}

.botao-resultado a:hover{
    background-color: #D2D2D2;
    color: #9C83FF;
    cursor: pointer !important;
    font-family: 'Roboto Mono';
    text-decoration: none; 


}

